<div class="container mt-5">
    <h1>Il Nostro Team</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="/dungeoncrawlerapp/src/assets/images/edoardo.jpg" class="card-img-top" alt="Persona 1">
          <div class="card-body">
            <h5 class="card-title">Edoardo Bertazzo</h5>
            <p class="card-text">Sviluppatore della pagina web e amministratore della pagina instagram</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/riccardo.jpg" class="card-img-top" alt="Persona 2">
          <div class="card-body">
            <h5 class="card-title">Nome Persona 2</h5>
            <p class="card-text">Breve descrizione di Persona 2 e del suo ruolo nel team.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/chine.jpg" class="card-img-top" alt="Persona 3">
          <div class="card-body">
            <h5 class="card-title">Nome Persona 3</h5>
            <p class="card-text">Breve descrizione di Persona 3 e del suo ruolo nel team.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/paolo.jpg" class="card-img-top" alt="Persona 4">
          <div class="card-body">
            <h5 class="card-title">Nome Persona 4</h5>
            <p class="card-text">Breve descrizione di Persona 4 e del suo ruolo nel team.</p>
          </div>
        </div>
      </div>
    </div>
  </div>