<h1>Benvenuto su LudoForgeApp!</h1>
<p>Il gioco prende forma insieme a te!</p>  
<h3>IT'S TIME TO FORGE!</h3>

<div class="container my-5">
    <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="assets/img/dungeoncrawler.jpg" class="img-fluid h-100 object-fit-cover" alt="Gioco da tavolo">
            </div>
            <div class="col-md-8">
                <div class="card-body p-4">
                    <h3 class="card-title">Dungeon Crawler</h3>
                    <p class="card-text">
                        Un'avventura da tavolo unica, perfetta per serate tra amici o in famiglia.
                        Strategie, colpi di scena e divertimento assicurato!
                    </p>
                    <a href="/assets/manualedungeoncrawler.pdf" download class="btn btn-outline-secondary me-2">
                        📄 Scarica il manuale
                    </a>
                    <div class="btn btn-primary" id="paypal-button-container">Ordina ora</div>
                </div>
            </div>
        </div>
    </div>
</div>
  

<div class="text-center mt-4">
    <p>👀 Visitatori: {{ visitCount }}</p>
    <p>🛒 Persone che hanno acquistato: {{ buyerCount }}</p>
</div>
  