<div class="bg-light py-3 fixed-bottom">
  <div class="container d-flex justify-content-around align-items-center">
    <div class="text-center">
      <i class="fa-brands fa-whatsapp fa-lg me-2"></i>
      <a href="https://wa.me/393802098440" class="text-decoration-none text-dark">+39 380 209 8440</a>
    </div>
    <div class="text-center">
      <i class="fa-brands fa-instagram fa-lg me-2"></i>
      <a href="https://www.instagram.com/il_tuo_account_instagram/" class="text-decoration-none text-dark">Instagram</a>
    </div>
    <div class="text-center">
      <i class="fa-solid fa-envelope fa-lg me-2"></i>
      <a href="mailto:edoardo.bertazzo01&#64;gmail.com" class="text-decoration-none text-dark">edoardo.bertazzo01&#64;gmail.com</a>
    </div>
  </div>
</div>