<div class="container mt-5">
  <h1>Il Nostro Team</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100 d-flex flex-column align-items-center">
        <div style="max-width: 200px; max-height: 200px; width: 100%; height: auto;">
          <img src="images/fabio.jpg" style="display: block; width: 100%; height: 100%; object-fit: contain;">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Fabio</h5>
          <p class="card-text">Project creator</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 d-flex flex-column align-items-center">
        <div style="max-width: 200px; max-height: 200px; width: 100%; height: auto;">
          <img src="images/edoardo.jpg" alt="Persona 1" style="display: block; width: 100%; height: 100%; object-fit: contain;">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Edoardo</h5>
          <p class="card-text">Sviluppatore del sito web e amministratore della pagina instagram</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 d-flex flex-column align-items-center">
        <div style="max-width: 200px; max-height: 200px; width: 100%; height: auto;">
          <img src="assets/images/chine.jpg" alt="Persona 3" style="display: block; width: 100%; height: 100%; object-fit: contain;">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Alberto</h5>
          <p class="card-text">Breve descrizione di Persona 3 e del suo ruolo nel team.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 d-flex flex-column align-items-center">
        <div style="max-width: 200px; max-height: 200px; width: 100%; height: auto;">
          <img src="assets/images/paolo.jpg" alt="Persona 4" style="display: block; width: 100%; height: 100%; object-fit: contain;">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Paolo</h5>
          <p class="card-text">Breve descrizione di Persona 4 e del suo ruolo nel team.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 d-flex flex-column align-items-center">
        <div style="max-width: 200px; max-height: 200px; width: 100%; height: auto;">
          <img src="images/riccardo.jpg" style="display: block; width: 100%; height: 100%; object-fit: contain;">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Riccardo</h5>
          <p class="card-text">...</p>
        </div>
      </div>
    </div>
  </div>
</div>